.projects__card {
  width: 100%;
  display: block;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 25px;
  color: white;
}

.projects__card-form {
  width: 80%;
  border-radius: 20px;

  padding: 15px;

  .project__card-title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
}

.projects__card:nth-child(odd) {
  .projects__card-form {
    border: 2px solid red;
    margin-right: auto;

    color: red;
  }
}

.projects__card:nth-child(even) {
  .projects__card-form {
    border: 2px solid green;
    margin-left: auto;

    color: green;
  }
}

.projects__card-stacks {
  display: flex;

  margin-bottom: 15px;

  li {
    font-size: 13px;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 8px;

    margin-right: 5px;
  }
}

.project__card-description {
  color: white;
  line-height: 1.7rem;
  font-size: 14px;
  font-weight: 300;
}
