.skills__card {
  width: 47%;
  border: 3px solid #ff4c29;
  border-radius: 20px;
  padding: 50px 2rem 25px;
  margin-bottom: 80px;
  color: white;
}

.skills__card--title {
  background-color: #423f3e;
  color: #ff4c29;
  padding: 10px;
  position: absolute;
  border: 3px solid white;
  top: 0;
  left: 0;
  transform: rotate(-20deg) translate(-20%, -80%);
  font-size: 30px;
  font-weight: 600;
}

.skills__card--text {
  line-height: 2rem;
}
